#app{
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #f4f4f4;
}
.menus{
  height: 100%;
  background-color: #333333;
  min-width: 140px;
  color: #f5f5f5;
  font-size: 14px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
.menus .title{
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.menus .menu-item{
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.2s linear;
  cursor: pointer;
}
.menus .menu-item:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.tab-content{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.tab-content .tabs{
  height: 60px;
  background-color: #333333;
  padding: 0 30px;
  color: #fff;
  flex-shrink: 0;
}
.tab-content .content{
  overflow-y: auto;
}
.tab-content .tabs .tab{
  margin-right: 20px;
}
.tab-content .crumb{
  background-color: #fff;
  padding: 12px 30px;
}
.tab-content .crumb .desc{
  color: #b1b1b1;
  margin-bottom: 12px;
}
.tab-content .crumb .title{
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
.tab-content .page{
  overflow-y: auto;
  flex-shrink: 0;
  padding: 20px;
}
.tab-content .line {
  text-align: center;
  padding-bottom: 20px;
}
.tab-content .form{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.tab-content .form-item{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.tab-content .form-item .label{
  padding-top: 6px;
}
.tab-content .form-item button{
  padding: 6px 8px;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  border: 1px solid #d9d9d9;
}
.tab-content .form-item Select{
  padding: 6px 8px;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  border: 1px solid #d9d9d9;
}
.tab-content .form-item Input{
  padding: 6px 8px;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  border: 1px solid #d9d9d9;
}
.tips {
  margin-bottom: 16px;
  background-color: #fffbe6;
  border: 1px solid #ffe58f;
  box-sizing: border-box;
    color: #000000d9;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    word-wrap: break-word;
    border-radius: 2px;
}
table {
  width: 100%;
  text-align: left;
  border-radius: 2px 2px 0 0;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: auto;
}
table thead th{
  border-top-left-radius:2px;
  position: relative;
  color: #000000d9;
  font-weight: 500;
  text-align: left;
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  transition: background .3s ease;
  padding: 16px;
  overflow-wrap: break-word;
}
table tbody td{
  border-bottom: 1px solid #f0f0f0;
  transition: background .3s;
  position: relative;
    padding: 16px;
    overflow-wrap: break-word;
}
table tbody td .edit{
  color: #1890ff;
}
textarea{
  height: 54px;
    min-height: 54px;
    max-height: 120px;
    overflow-y: hidden;
    resize: none;
    line-height: 1.5;
    transition: all .3s,height 0s;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 4px 11px;
    color: #000000d9;
    font-size: 14px;
}
.buttons{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.buttons button{
  margin-right: 8px;
  margin-bottom: 12px;
  color: #fff;
  background-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px #0000000b;
  border-radius: 6px;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
}
.buttons .remove{
  background-color: #ff4d4f;
}